.DeletePost{
    padding: 0.5rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.DeletePost-post{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    width: 32.5%;
}
.DeletePost button{
    margin-top: 15px;
    height: 30px;
    border-radius: 0.5rem;
    border: black 1px solid;
}
.DeletePost p,.DeletePost img {
    margin-top: 5px;
}

.DeletePost button:hover{
    background-color: red;
}

@media (max-width:480px) {
    .DeletePost-post{
        height: 30%;
        width: 100%;
    }
}